.body {
  background: #94cffc;
  position: relative;
}





/* -------------------------------------------导航模块----------------------------------------------- */


.header {
  top: 0;
  height: auto;
  background-color: #94cffc;
  /* position: fixed; */
  width: 100%;
  box-shadow: 2px 5px 10px 1px rgb(0, 157, 255);
  z-index: 2;
}

.header .wrapper {
  padding-top: 5px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* 网页整体宽度 */

.logo {
  display: inline-block;
  height: 41px;
}


#clock {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  color: #666;
}

.user {
  display: inline-block;
  margin-left: 32px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 7px;
  /* 调整行内快和垂直方向对齐的方式 */
  vertical-align: middle;
}

.user span {
  font-size: 25px;
  color: #666;
  line-height: 50px;
  font-family: "楷书";
}

.nav {
  grid-column: 2/4;
  display: inline-block;
  justify-content: center;
}

.nav ul {
  display: flex;
  margin-top: 10px;
}

.nav li {
  margin-right: 15px;
}

.nav li a,
#open-button {
  display: block;
  padding: 0 8px;
  color: #666;
  font-size: 16px;
  line-height: 32px;
}

.nav li a:active,
.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}

#open-button:active,
#open-button:hover {
  border-bottom: 2px solid #00a4ff;
}

.search {
  justify-content: center;
  display: flex;
  margin-top: 5px;
  padding-left: 19px;
  padding-right: 12px;
  height: 42px;
  background-color: #f3f5f7;
  border-radius: 21px;
}

.search input {
  flex: 1;
  border: 0;
  background-color: transparent;
  /* 取消选中后表单控件的焦点框 */
  outline: none;
}

.search input::placeholder {
  font-size: 14px;
  color: #999;
}

.search a {
  align-self: center;
  width: 16px;
  height: 16px;
  background-image: url(#);
}

.search button {
  border: 0;
  padding-right: 20px;
  background-color: transparent;
}

.iconfont icon-sousuo {
  font-size: 20px;
}

/* --------------------------------------------------腰------------------------------------- */

.wrapper2 {
  position: relative;
  top: 30px;
  margin: auto;
  width: 80%;
  background-color: #86b7dd;
  padding-top: 20px;
  padding-bottom: 30px;
}



/* --------------------个人资料------------------- */
.Personaldate {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.personhu {
  margin: 10px;
  height: 550px;
  overflow: hidden;

}

.personhu1 {
  margin: 10px;
  grid-column: 1/3;
  height: 550px;
}

.personhu1 ul li {
  color: #f3f5f7;
  font-size: 15px;
  text-align: center;
}

.Hucard {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#pictureHu {
  width: 100%;
}


.Personaldate1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 20px;
}

.county {
  background-color: transparent;
}

.school {
  background-color: transparent;
}

.card mb-3 {
  max-width: 100%;
  margin: auto;
}




/* --------------------------轮播图------------------------------ */

#demo {
  display: flex;
  height: 70%;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}

.carousel-item img {
  object-fit: cover !important;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
}

/* ------------------------------侧边栏--------------------------*/

#sidebar {
  margin-top: 100px;
  width: 250px;
  background-color: #94cffc;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s;
  box-shadow: 2px 2px 2px 2px rgba(33, 126, 188, 0.641);
  z-index: 22;
  opacity: 70%;
}

#content {
  margin-left: 250px;
  padding: 20px;

}

#open-button {
  background-color: #94cffc;
  border: none;
  cursor: pointer;
}

/* 侧边栏链接样式 */
#sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #666;
  display: block;
  z-index: 100;
  opacity: 70%;
}

#sidebar a:hover {
  background-color: #00a4ff;
  z-index: 100;
}




/* -----------------------------百度地图------------------------- */
#baiducontainer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* ------------------------------------网页底部------------------------------------ */
footer {
  background-color: #00a4ff;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
}